@use "@styles/base" as *;
$card-z: 0;
.card {
  @mixin mod($mod) {
    @include modifier("card", $mod) {
      @content;
    }
  }
  @mixin mods($mods...) {
    @each $mod in $mods {
      .card_#{$mod} & {
        @content;
      }
    }
  }
  
  @include NOT-MOB{
    &:hover{
      .card__cover{
        transform: translateY(-110%)
      }
    }
  }
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  @extend %CARD-DEFAULT;
  
  &__content{
    position: relative;
    flex-direction: column;
    * {
      white-space: normal;
      word-break: break-all;
    }
    @include options((
      border-radius: (20px,10px),
      padding: (0 50px 0 50px, 30px 35px 30px 35px)
    ));
    @include mod('prize'){
      @include options((
        padding: (66px 365px 29px 50px,30px 35px 30px 35px)
      ));
    };
    @include mod('table'){
      @include options((
        padding: (34px 50px 30px 50px, 30px 35px 30px 35px)
      ));
    };
    @include mods('rules', 'out'){
      height: 100%;
      align-content: center;
    }
    @include mod('opened'){
      position: relative;
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
    }
    @include NOT_DESKTOP{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      pointer-events: none;
      transform: translateY(-1em);
      transition: opacity 0.35s ease, transform 0.35s ease;
      z-index: $card-z + 3;
    }
    
  }
  &__bg{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: $RED;
    @include options((
      border-radius: (20px,10px),
    ));
    @include mod('opened'){
      z-index: $card-z + 1;
    }
  }
  &__bgItem{
    position: absolute;
    img{
      width: 100%;
      height: 100%;
    };
    &_crown{
      transform: rotate(-20deg);
      @include options((
        width: 388px,
        top: -70px,
        right: 0px,
      ))
    }
    &_phone{
      @include NOT-MOB{
        display: none;
      }
      @include options((
      ))
    }
    &_trophy{
      transform: rotate(15deg);
      @include options((
        width: 273px,
        bottom: -100px,
        right: 50px
      ))
    }
  }
  &__cover{
    position: absolute;
    inset: 0;
    border-color: $WHITE;
    border-style: solid;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: $card-z + 2;
    @include options((
      border-width: (1px),
      border-radius: (20px, 8px),
    ));
    @include NOT_DESKTOP{
      position: relative;
    }
    @include mod('opened'){
      position: absolute;
      opacity: 0;
      pointer-events: none;
      transform: translateY(-15px);
    }
  };
  &__coverBg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    @include options((
      border-radius: (20px,8px)
    ));
    background-image: 
      radial-gradient(
        circle at 100% -50%, 
        $RED 0%,
        $OPACY 50%,
      ),
      radial-gradient(
        circle at 0% 150%, 
        $RED 0%,
        $RED 15%,
        $OPACY 70%
      );
  }
  &__coverContent{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include options((
      gap: (30px, 10px)
    ));
    @include mod('rules'){
      @include NOT-MOB{
        flex-direction: column;
        align-items: center;
      }
    }
  }
  &__coverIcon{
    @include mods('rules'){
      @include options((
        width: (112px, 59px),
        height: (73px, 39px)
      ))
    }
    @include mods('prize'){
      @include options((
        width: (75px, 39px),
        height: (74px, 38px)
      ))
    }
    
    @include mods('out'){
      @include options((
        width: (112px, 59px),
        height: (73px, 39px)
      ))
    }
    @include mods('table'){
      @include options((
        width: (79px, 38px),
        height: (115px, 56px)
      ))
    }
     
     
  }
  &__coverTitle{
    @include options((
      font-size: (36px, 14px)
    ));
    text-transform: uppercase;
    @include mods('rules', 'prize', 'out'){
      @include option(max-width, 300px, 2100px)
    }
  }
  &__title{
    margin: 0;
    @extend %CARD-TITLE;
  }
  &__text{
    margin: 0;
    @include mod('prize'){
      @include options((
        margin: (33px 0 0px 0, 0 0 0 0) 
      ));
       &::after{
        content: ''; 
        display: block;
        width: 100%;
        background-color: $WHITE;
        @include options((
          height: 2px,
          margin: (33px 0 45px 0, 0 0 0 0) 
        ))
    }
    }
  }
  &__boldText{
    @extend %CARD-BOLD;
    @include option(margin-top, 30px, 0px)
    
  }
  &__ol li::marker{
    color: $BLACK;
    @extend %CARD-TITLE
  }
  &__ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    li{
      text-align: left;
    }
    @include options((
      gap: (17px, 0px),
      margin-bottom: (30px, 0px)
    ))
  } 
  &__fact{
    display: flex;
    justify-items: flex-start;
    @include option(gap, 20px, 13px);
  }
  &__factText{
    margin: 0;
  }
  &__factTitle{
    margin: 0;
  }
  &__factIcon{
    @include options((
      width: (60px, 40px),
      height: (60px, 40px),
    ));
    flex-shrink: 0;
  }
  &__factCaption{
    @extend %CARD-THIN;
    @include options((
      margin-top: (45px, 0px)
    ))
  }
  &_opened{
    @include NOT_DESKTOP{
      z-index: 5;
    }
  }
}
