@use "@styles/base" as *;

.table {
  @mixin mod($mod) {
    @include modifier("table", $mod) {
      @content;
    }
  }
  @mixin mods($mods...) {
    @each $mod in $mods {
      .table_#{$mod} & {
        @content;
      }
    }
  }
  @include mod('mobile'){
    @include NOT-MOB{
      display: none
    }
  }
  @include mod('desktop'){
    @include NOT-DESKTOP{
      display: none
    }
  }
  @extend %TABLE-TEXT;
  &__cell{
    text-align: center;
    @include options((
      padding: (2px 10px, 8px)
    ));
    &_header{
      @include option(max-width, 80px)
    }
    &_value{
      @extend %TABLE-NUMS;
      background-color: $BLACK;
    }
    &_prize{
      @extend %TABLE-NUMS;
      background-color: $WHITE;
      color: $BLACK;
      @include NOT-DESKTOP{
        color: $RED;
      }
    }
    &_red{
      @extend %TABLE-NUMS;
      background-color: $ORANGE;
      color: $WHITE
    }
  }
  
  
}

